@page "/movie/{MovieId:int}"
@using Models
@using MovieDatabase.Services
@inject IMovieService MovieService

@if (movie == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h2>@movie.MovieTitle</h2>
        <img src="@movie.FullPosterUrl" alt="@movie.MovieTitle" />
        <p>@movie.Overview</p>
        <p><strong>Release Date:</strong> @movie.ReleaseDate</p>
        <p><strong>Rating:</strong> @movie.Rating</p>

        <p class="movieInfo-date text-gray-700">@movie.Genres</p>

        <p class="movieInfo-date text-gray-700">@movie.Genres</p>

    </div>
}


@code {
    [Parameter]
    public int MovieId { get; set; }

    private Movie? movie;

    protected override async Task OnInitializedAsync()
    {
        movie = await MovieService.MoviesDetailsAsync(MovieId);
    }
}
