@page "/Search"
@using Models
@using MovieDatabase.Services
@inject IMovieService MovieService


<input @bind="searchTerm"
       placeholder="Search for a movie..."
       class="border p-2 rounded w-full mb-3" />

<button @onclick="SearchMovies"
        class="bg-blue-600 text-white px-4 py-2 rounded mb-4">
    Search
</button>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (searchResults?.Count > 0)
{
    <div class="movie-list">
        @foreach (var movie in searchResults)
        {
            <div class="movie">
                <img src="@movie.FullPosterUrl" alt="@movie.MovieTitle" class="movie-cover" />
                <div class="movie-details">
                    <p class="text-sm font-semibold">@movie.MovieTitle</p>
                    <p class="text-sm text-gray-700">@movie.ReleaseDate</p>
                    <p class="text-sm text-gray-700">@movie.Rating</p>
                    @* <p class="text-sm">@movie.Overview</p>
                    <p>PosterPath: @movie.PosterPath</p>  *@
                    @* <p>FullPosterUrl: @movie.FullPosterUrl</p> *@
                </div>
               

            </div>
        }
    </div>
}
else if (!string.IsNullOrWhiteSpace(searchTerm))
{
    <p>No results found.</p>
}



@code {
    private List<Movie> searchResults = new();
    private string searchTerm;
    private bool isLoading = false;

    private async Task SearchMovies()
    {
        isLoading = true;
        try
        {
            searchResults = await MovieService.SearchMoviesAsync(searchTerm);
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"API Error: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }
}
<style>
    .movie-list {
        margin: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(8, 1fr);
        
    }

    .movie {
        border: 1px solid black;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .movie-cover {
        width: 100%;
        height: auto;
        max-width: 180px;
        border-radius: 4px;
        object-fit: cover;
    }

    .movie-details {
        margin-top: 10px;
    }
    
</style>
