@page "/tv/{TVId:int}"
@using Models
@using MovieDatabase.Services
@inject IMovieService MovieService

@if (tv == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h2>@tv.MovieTitle</h2>
        <img src="@tv.FullPosterUrl" alt="@tv.MovieTitle" />
        <p>@tv.Overview</p>
        <p><strong>Release Date:</strong> @tv.ReleaseDate</p>
        <p><strong>Rating:</strong> @tv.Rating</p>

    </div>
}


@code {
    [Parameter]
    public int TVId { get; set; }

    private TVShows? tv;

    protected override async Task OnInitializedAsync()
    {
        tv = await MovieService.TVDetailsAsync(TVId);
    }
}
